<ion-view view-title="List View">
  <ion-content>
    <ion-list>
      <ion-item id="{{$index + 1}}" class="item item-icon-left item-icon-right {{day.selected ? 'select' : '';}}" ng-repeat="day in list" href="#/app/day/{{day.id}}">
        <div layout="row" on-touch="selectItem($index)">
          <i ng-if="isDevotionCompleted('id' + ($index + 1))" class="icon ion-checkmark-circled check-icon"></i>
          <h2 class="dark">{{$index + 1}} &nbsp;&nbsp;&nbsp;&nbsp; {{day.title}}</h2>
          <i class="icon ion-chevron-right" ></i>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
